@model Models.Models.ViewModels.RecoveryPasswordViewModel
    @{
        ViewBag.Title = "بازیابی رمز عبور";
    }

    <div class="col-md-4 col-10 box-shadow-2 p-0">
        <div class="card border-grey border-lighten-3 px-2 py-2 m-0">
            <div class="card-header border-0">
                <div class="card-title text-center">
                    <img src="/app-assets/images/logo/stack-logo-dark.png" alt="branding logo">
                </div>
                <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                    <span>ثبت رمز عبور جدید</span>
                </h6>
            </div>
            <div class="card-content">
                <div class="card-body">
                    @using (Html.BeginForm("RecoveryPassword", "Account", FormMethod.Post, new { @class = "form-horizontal form-simple" }))
                    {
                        @Html.AntiForgeryToken()


                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <fieldset class="form-group position-relative has-icon-left">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "رمز عبور " } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })


                            <div class="form-control-position">
                                <i class="fa fa-key"></i>
                            </div>
                        </fieldset>
                        <fieldset class="form-group position-relative has-icon-left">
                            @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "تکرار رمز عبور " } })
                            @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })


                            <div class="form-control-position">
                                <i class="fa fa-key"></i>
                            </div>
                        </fieldset>
                        <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="ft-unlock"></i> ثبت رمز عبور جدید</button>

                    }
                </div>
                
            </div>
        </div>
    </div>

